<%- include('../partials/header') -%>



    <article>

        <div class="card w-100 mb-3" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title"><a href="/notes/<%= note._id %>">
                        <%= note.title %>
                    </a></h5>

                <p class="card-text">
                <p>Created By: <%= note.author %>
                </p>
                <%= note.content %>
                    </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <small>
                        Tags:
                        <% note.tags.forEach((tag, index)=> { %>
                            <a href="/notes?tag=<%= tag %>">
                                <%= tag %>
                            </a>
                            <%= index < note.tags.length - 1 ? ', ' : '' %>
                                <% }) %>
                    </small>
                </li>
                <li class="list-group-item">
                    <small>Updated on: <%= note.lastUpdated %></small>
                </li>
            </ul>

        </div>
    </article>

    <a class="btn btn-primary mx-1" href="<%=note._id%>/edit">Edit</a>

    <a class="btn btn-primary" href="/notes">Back to Notebook</a>


    <%- include('../partials/footer') -%>