<%- include('../partials/header') -%>

    <div class="container">

        <h1>
            <%= note.title %>
        </h1>
        <hr>
        <p>
            <small>
                Tags: <%= note.tags %>
            </small>
        </p>

        <p>
            <%= note.content %>
        </p>


        <p> <a class="btn btn-primary" href="<%=note._id%>/edit">Edit</a>
        </p>
        <p> <a class="btn btn-primary" href="/notes">back to Notebook</a>
        </p>


    </div>

    <%- include('../partials/footer') -%>